# vim
*.swp

# dev
.venv/
.vscode/
__pycache__/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage
.ropeproject/
.mypy_cache/
.tox/

# logs
debug.log

# protobuf data -- included in package
*.dat
*.pb2
!crypto_condor/primitives/_testu01/examples/excel.dat

# objects
*.o

# built docs
docs/build

# for importing NIST test vectors
*.imported

# built package
dist/

# pyenv
.python-version

# mypy
.dmypy.json
